<%- include("partials/header") %>
<%- include("partials/nav") %>
<%- include("partials/largeBanner") %>


<div class="page-section page-section--lightBG">
	<div class="wrapper">
		<h2 class="page-section__title"><i class="fas fa-circle"></i>Special Offers</h2>
		<p class="page-section__subtitle">Best 2020 places where people love to stay!</p>
		
		<div class="grid">
			<% bestSpots.forEach(function(bestSpot){ %>
			<div class="grid__tile--3-col-atL">
				<div class="card card--borderR">
					<div class="card__image-box">
						<img src="<%= bestSpot.thumbnail %>">
					</div>
					<div class="card__info-box">
						<a href="/vacationSpots/<%= bestSpot._id %>"><div class="card__info-box__details">details</div></a>
						<div class="card__info-box__title-box">
							<h3 class="card__info-box__title"><%= bestSpot.station %></h3>
							<h3 class="card__info-box__price">$ <%= bestSpot.price %><span> / night</span></h3>
						</div>
						<h4 class="card__info-box__subtitle"><%= bestSpot.name%></h4>
						<p class="card__info-box__description"><%= bestSpot.type%> - <%= bestSpot.guests%> Guests - <%= bestSpot.bedrooms%> Bedrooms</p>
						<div class="card__info-box__rating">
							<%= (Math.round(bestSpot.rating * 100) / 100).toFixed(1) %>
							<% for(i = 0; i<bestSpot.rating; i++){ %>
								<i class="fas fa-star"></i>
							<% } %>	
						</div>
					</div>	
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</div>

<div class="page-section page-section--dark page-section--fixed-height gradient__with-bg2">
	<!--
	<picture>
		<img class="page-section__bg-image" src="/images/about_us_bg.jpg" alt="team shilouette">
	</picture>
	-->
	<div class="wrapper wrapper--narrow">
		<h2 class="page-section__title"><i class="fas fa-circle"></i>About Us</h2>
		<p class="page-section__subtitle">SpaceTravel offers the best vacation rentals all over our solarsystem</p>
		<p class="page-section__text">
			Behind the scenes there is a diverse, innovative and versatile team who works together 
			towards one common goal and that is to show people the beauty of the universe!
		</p>
		<button class="btn btn--small btn--turquoise btn--turquoise--transparent">Read More</button>
	</div>
</div>

<div class="page-section">
	<div class="wrapper">
		<h2 class="page-section__title"><i class="fas fa-circle"></i>Why Choose Us</h2>
		<p class="page-section__subtitle">Our clients have been choosing SpaceTravel for a number of reasons</p>
		
		<div class="grid">
			<div class="grid__tile--3-col-atM grid__tile--more-mb">
				<div class="feature-item">
					<div class="feature-item__icon">
						<i class="fas fa-star"></i>
					</div>
					<h3 class="feature-item__title">Touch Of Exclusivity</h3>
					<p class="feature-item__description">
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
					</p>
				</div>
			</div>
			<div class="grid__tile--3-col-atM grid__tile--more-mb">
				<div class="feature-item">
					<div class="feature-item__icon">
						<i class="fas fa-concierge-bell"></i>
					</div>	
					<h3 class="feature-item__title">Excellent Service</h3>
					<p class="feature-item__description">
						Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam nonumy.
					</p>
				</div>
			</div>
			<div class="grid__tile--3-col-atM grid__tile--more-mb">
				<div class="feature-item">
					<div class="feature-item__icon">
						<i class="fas fa-dollar-sign"></i>
					</div>	
					<h3 class="feature-item__title">Price Transparancy</h3>
					<p class="feature-item__description">
						Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam nonumy.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<a href="/vacationSpots">View all Destinations</a>-->

<%- include("partials/footer") %>