<%- include("partials/header") %>
<%- include("partials/nav") %>
<%- include("partials/smallBanner") %>

<div class="page-section">
	<div class="wrapper">
		<h2 class="page-section__title"><i class="fas fa-circle"></i>Locations on <%= searchTerm %></h2>
		<p class="page-section__subtitle">...</p>
		
		<div class="grid">
			<% vacationSpots.forEach(function(vacationSpot){ %>
			<div class="grid__tile--col-3">
				<div class="card card--borderR">
					<div class="card__image-box">
						<img src="<%= vacationSpot.thumbnail %>">
					</div>
					<div class="card__info-box">
						<a href="/vacationSpots/<%= vacationSpot._id %>"><div class="card__info-box__details">Details</div></a>
						<div class="card__info-box__title-box">
							<h3 class="card__info-box__title"><%= vacationSpot.station %></h3>
							<h3 class="card__info-box__price">$<%= vacationSpot.price %><span> / night</span></h3>
						</div>
						<h4 class="card__info-box__subtitle"><%= vacationSpot.name%></h4>
						<p class="card__info-box__description"><%= vacationSpot.type%> - <%= vacationSpot.guests%> Guests - <%= vacationSpot.bedrooms%> Bedrooms</p>
						<div class="card__info-box__rating">
							<%= (Math.round(vacationSpot.rating * 100) / 100).toFixed(1) %>
							<% for(i = 0; i<vacationSpot.rating; i++){ %>
								<i class="fas fa-star"></i>
							<% } %>	
						</div>
					</div>	
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</div>

<%- include("partials/footer") %>