<%- include("../partials/header") %>
<%- include("../partials/nav") %>
<%- include("../partials/smallBanner") %>

<div class="page-section">
	<div class="wrapper">
		<h2 class="page-section__title"><i class="fas fa-circle"></i>Locations on <%= search.planet %></h2>
		<p class="page-section__subtitle">Look a this beautiful spots</p>
		<% if(currentUser && currentUser._id == "5f17edbda29dfe0e9ff6c9f1"){ %>
			<div class="container">
				<a class="btn btn--turquoise" href="/vacationSpots/new">Create New Vacation Spot</a>
			</div>
		<% } %>
		<div class="grid">
			<% vacationSpots.forEach(function(vacationSpot){ %>
			<div class="grid__tile--3-col-atL">
				<div class="card card--borderR">
					<div class="card__image-box">
						<img src="<%= vacationSpot.thumbnail %>">
					</div>
					<div class="card__info-box">
						<div class="card__info-box__details">
							<a class=" btn btn--turquoise" href="/vacationSpots/<%= vacationSpot._id %>">Details</a>
						</div>
						<div class="card__info-box__title-box">
							<h3 class="card__info-box__title"><%= vacationSpot.station %></h3>
							<h3 class="card__info-box__price">$<%= vacationSpot.price %><span> / night</span></h3>
						</div>
						<h4 class="card__info-box__subtitle"><%= vacationSpot.name%></h4>
						<p class="card__info-box__description"><%= vacationSpot.type%> - <%= vacationSpot.guests%> Guests - <%= vacationSpot.bedrooms%> Bedrooms</p>
						<div class="card__info-box__rating">
							<% if(vacationSpot.rating == 0){ %>
								<%= "not rated yet" %>
							<% } else { %>
								<%= (Math.round(vacationSpot.rating * 100) / 100).toFixed(1) %>
								<% for(i = 0; i<vacationSpot.rating; i++){ %>
									<i class="fas fa-star"></i>
								<% } %>	
							<% } %>	
						</div>
						<% if(currentUser && currentUser._id == "5f17edbda29dfe0e9ff6c9f1"){ %>
							<a href="/vacationSpots/<%= vacationSpot._id %>/edit" class="btn btn--turquoise btn--small">Edit</a>
							<form class="form--inline" action="/vacationSpots/<%= vacationSpot._id %>?_method=DELETE" method="POST">
								<button class="btn btn--small btn--orange">Delete</button>
							</form>
						<% } %>
					</div>	
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>